@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*
{
	font-family: "Verdana", sans-serif;
}
.box{
	min-height: 100vh;
	max-height: max-content;
	display: flex;
}

.wellcome{
	position: relative;
	width: 100vw;
	background-image: url('../assets/img/wellcome.png');
	background-size: cover;
	background-repeat: no-repeat;
}
.wellcome h2{
	position: relative;
	border-radius: 15px;
	width: 40%;
	margin-top: 42vh;
	height: 100px;
	background-color: rgba(255, 255, 255, 0.1);
	box-shadow: 1px 1px 20px 0px rgba(99, 99, 99, 0.8);
	text-align: center;	
}
.wellcome p{
	font-size: 30px;
	font-weight: bold;
	font-family: 'Quicksand', sans-serif;
	position: relative;
	padding-top: 30px;
	color: #3c6382;

}
.menu_superior{
	position: relative;
	margin-top: 0;
	height: 30px;
	background-color: rgba(60, 99, 130, 0.1);
	width: 100%;
	transition: 0.2s;
	display: none;
}
.menu_superior:hover{
	background-color: #3c6382;
}
.menu{
	position: relative;
	margin-left: 0;
	/* background-color: #ff4d4d; */
	background-color: #3c6382;
	height: auto;
	width: 18vw;
}
.menu a{
	text-decoration: none;
	color: white;
}
.menu a:hover{
	color: black;
}
.menu button:hover a{
	color: black;
}
.menu .bt1{
	width: 12%;
	position: fixed;
	left: 1%;
	top: 40px;
	text-align: center;
	z-index: 1;
}
.menu .bt2{
	width: 12%;
	position: fixed;
	left: 1%;
	top: 90px;
	text-align: center;
	z-index: 1;
}
.menu .bt3{
	width: 12%;
	position: fixed;
	left: 1%;
	bottom: 40px;
	text-align: center;
	z-index: 1;
}
.dropdown-menu{
	position: relative;
	background-color: #32516b;
	text-align: center;
}
.dropdown-menu a:hover{
	color: #68d2ec;
}
.formulario{
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 4;
}
.forms{
	background-image: url('../assets/img/wellcome.png');
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
}
.form
{
	background-color: rgba(255, 255, 255,0.9);
	max-width: 800px;
	box-shadow: 0 0 1px 0;
	position: relative;
	margin: 3vh auto;
	padding: 30px;
	height: fit-content;
	text-align: center;
	z-index: 1;
}

.form input,select
{
	font-family: 'Quicksand', sans-serif;
	border: 0;
	font-size: 14px;
	outline: 0;
	padding: 10px;
	width: 100%;
}
.form button{
	font-family: 'Quicksand', sans-serif;
	/* background-color: #ff4d4d; */
	background-color: #3c6382;
	color: #FFFFFF;
	border: 0;
	width: 100%;
}
.form button:hover{
	background-color: #32516b;
}
.form button:active{
	border-style: none;
}
.form p{
	font-family: 'Quicksand', sans-serif;
}
.botao_cadastrar{
	font-family: 'Quicksand', sans-serif;
	max-width: 800px;
	position: relative;
	margin: 30px auto;
	padding: 30px;
	height: fit-content;
	text-align: center;
	z-index: 1;
}

/* botoes */
#cadastro_internamento{
	color: #FFFFFF;
	cursor:pointer;
}
#cadastro_internamento:hover{
	color: #eccc68;
}
#submitPaciente{
	margin-top: 50px;
}
#Limpar{
	border: 2px solid #32516b;
	background-color: white;
	color: black;
}
#Limpar:hover {
	background-color: #60a3bc31;
	color: grey;
}
#submit{
	background-color: #3c6382;
	color: #FFFFFF;
	border: 0;
	position: relative;
	width: 50%;
	float: left;
}
#submit:hover{
	background-color: #32516b;
}
/* form */
.form input,select,option
{
	/* background: #e2e2e2e2; */
	background-color: #60a3bc31;
	box-sizing: border-box;
	margin-bottom: 15px;
}
img{
	top: 40%;
	position: fixed;
	height: 23%;
	left: 2%;
	border-radius: 50%;
	transition: 0.1s;
}
img:hover{
	box-shadow: 0px 0px 4px 4px #68d2ec;
}
.select{
	background-color: #60a3bc31;
	font-size: 14px;
}
form .btPesquisar{
	margin-left: 5px;
	width: 40px;
	height: 40px;
	background-color: #3c6382;
}
form .btPesquisar:hover{
	background-color: #3c6382;
}
form .btPesquisar:focus{
	box-shadow: 0px 0px 3px 3px #68d2ec;
}
.btPesquisar:active{
	background-color: #3c6382;
}
.lista_pacientes {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
}

.lista_pacientes tbody{
	width: max-content;
}
/* table{
	display: none;
	max-width: 800px;
	box-shadow: 0 0 1px 0;
	position: relative;
	margin: 30px auto;
	padding: 30px;
	height: fit-content;
	text-align: center;
	z-index: 1;
} */
.editar, .apagar{
	color: black;
	width: 50px;
}
/* tr:hover{
	background-color: #60a3bc31;
}
tr{
	font-size: 14px;
}
table td,th{
	border: 1px solid rgba(128, 128, 128, 0.363);
} */
.form-int
{
	/* display: none; */
	max-width: 800px;
	box-shadow: 0 0 1px 0;
	position: relative;
	margin: 20px auto;
	padding: 30px;
	height: fit-content;
	text-align: center;
	z-index: 1;
}
.form-int button,input,select
{
	border: 0;
	font-size: 14px;
	outline: 0;
	padding: 10px;
	width: 100%;
}
.form-int button
{
	background: #ff4d4d;
	color: #FFFFFF;
	cursor: pointer;
}
.form-int button:active
{
	background: #cc0066;
}
.form-int input,select
{
	background: #e2e2e2e2;
	box-sizing: border-box;
	margin-bottom: 15px;
}
@media screen and (max-width: 992px) {
	.menu {
	  display: none;
	}
	.wellcome h2{
		margin-left: 0;
		width: 100%;
	}
  }
  @media screen and (max-height: 500px) {
	.menu {
	  display: none;
	}
	.wellcome h2{
		margin-left: 0;
		width: 100%;
	}
  }